@use 'variables' as *;

.miame {
  color: #d12d35;

  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;

  line-height: 1;
  letter-spacing: 0px;
}

.hours {
  color: black;
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;

   font-size: clamp(20px, 5vw, 48px);
  line-height: 1;
  letter-spacing: -1.5px;

  flex-basis: 48px;
  flex-shrink: 1;






}

@media (max-width: 600px) {

   .hours {
    font-size: clamp(10px, 5vw, 20px);
    background-color: #d12d35;
  }


.hours__container {

font-size: 7px;




}






}

@media (max-width: 1000px) {

   .hours {
    font-size: clamp(14px, 5vw, 28px);
  }

}



.fifth {
  grid-row: 1;
  color: black;
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;

font-size: clamp(12px, 5vw, 24px);
  line-height: 30px;
  letter-spacing: 0px;
}

.pam {
  margin-top: 1px;
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
font-size: clamp(8px, 5vw, 16px);



  line-height: 0.4;
  letter-spacing: 0px;

  color: black;
}

.ppm {
  margin-top: 1px;
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
font-size: clamp(8px, 5vw, 16px);
  line-height: 0.4;
  letter-spacing: 0px;

  color: black;
}

.closeon {
  margin-top: 10px;
}

.container {










  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.coluna{

width:100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;


}

.quadros-wrapper {

 display: flex;
  gap: 20px;
  width: 100%;

  justify-content: center;
}





.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  align-items: start;
}
.col-6 {
  grid-column: span 6;
}

.hours__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px 10px;
}

.row111 {
  display: grid;
  grid-template-columns: 1fr; /* 1 coluna */
  grid-template-rows: auto auto auto; /* 3 linhas */
  justify-items: center;
}

.now__titulo {
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;

  line-height: 0.5;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 100px;
}

.arti {
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;

  line-height: 0.2px;
  letter-spacing: 0px;
  text-align: center;
}

.quadros {
  padding-bottom: 1px;
  margin-right: 0;

width: 672px;


height: $oldmasterheight;



  background-color: black;
  background-image: url('../images/old.png');
  background-size: cover;
  background-position: center;

  transition: transform 300ms ease;
  transform-origin: center center;
}
.quadros2 {
  padding-bottom: 1px;
  margin-right: 0;



width:324px;


  height: $golaheight;

  background-color: black;
  background-image: url('../images/gola.png');
  background-size: cover;
  background-position: center;

  transition: transform 300ms ease;
  transform-origin: center center;
}

.quadros4 {
  padding-bottom: 1px;
  margin-right: 0;

  width: 1020px;
  height: $flexaoheight;

  background-color: black;
  background-image: url('../images/buda.png');
  background-size: cover;
  background-position: center;

  transition: transform 300ms ease;
  transform-origin: center center;
}

.quadros5 {
  padding-bottom: 1px;
  margin-right: 0;

  width: 324px;
  height: 320px;

  background-color: black;
  background-size: cover;
  background-image: url('../images/relog.png');

  background-size: cover;
  background-position: center;

  transition: transform 300ms ease;
  transform-origin: center center;
}

.quadros55 {
  padding-bottom: 1px;
  margin-right: 0;

  width: 672px;
  height: 320px;

  background-color: black;
  background-size: cover;
  background-image: url('../images/danca.png');

  background-size: cover;
  background-position: center;

  transition: transform 300ms ease;
  transform-origin: center center;
}

.quadros:hover,
.quadros2:hover,
.quadros55:hover,
.quadros5:hover,
.quadros4:hover {
  transform: scale(1.8); /* aumenta 40% */
}








.tex3{
 display: flex;
  flex-direction: column;
   align-items: flex-start;


}


.tex33 {
  margin-top: 30px;
  color: #d12d35;
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;

  line-height: 0.2;
  letter-spacing: 0px;
}



.tex33a {
  color: #161616;

  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;

  line-height: 0.2;
  letter-spacing: 0px;

  margin-bottom: 50px;
}

.btvermelho {

  border: 2px solid red;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 324px;
  height: 56px;

  background-color: #d12d35;

  color: white;

  margin-left: 38%;

}

@media (max-width: 600px) {
.btvermelho {
    margin-left: 18%;
width: 280px;

}
}


.textovermelho {
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  width: 176px;
  height: 27px;

  white-space: nowrap;

  text-align: center;
  line-height: 1;
}



@media (max-width: 600px) {

.quadros {


width:130px;
height: 130px;

}

.quadros2 {

width:130px;
height: 130px;

}


.quadros4 {

width:300px;
height: 130px;



}


.quadros5 {
width:130px;
height: 130px;
}


.quadros55 {

  background-color: black;
  background-size: cover;
  background-image: url('../images/dancamobile.png');

  background-size: cover;
  background-position: center;


width:130px;
height: 130px;

}

.tex33 {


 font-size: 10px;



}
  .tex33a {

 font-size: 10px;

  }


.pam{




font-size: 9px;

line-height: 1.2;
}


}












@media (min-width: 601px) and (max-width: 1024px) {


.quadros{
width: 392px;
height: 186px;
}

.quadros2{
width: 184px;
height: 186px;
}

.quadros4 {

height:186px;

  background-image:
    url('../images/budatablet.png'),
    url('../images/tapete.png');

 background-size: 30% 100%, 30% 100%;
  background-position: 20% center, 80% center;
  background-repeat: no-repeat;
}




.quadros5 {
width:184px;
height: 186px;
}


.quadros55 {
width:392px;
height: 186px;

}



.tex33 {


 font-size: 14px;

line-height: 1.2;

}
  .tex33a {

 font-size: 14px;
 line-height: 1.2;

  }


.pam{




font-size: 13px;

line-height: 1.2;
}






}
