@use 'variables' as *;




body {
  margin: 0;

}



.menu{

border: 2px solid white;

background-color: $fundo;

background-color: green;

display:block;

padding-left:121px;

color: $menutexto;

}


.menuitens__link{


  color:$menutexto;

}




.textomenu{

font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 80%;
letter-spacing: -1.5px;
text-align: center;
vertical-align: middle;


color: $menutexto;

margin-top:30px;
margin-bottom: 55px;



}

.menuitens__lista{
 display: flex;
  flex-direction: column;
gap:32px;
padding-left: 0;
margin-top:5px;


list-style: none;
color: $menutexto;

font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 22px;

line-height: 22px;
letter-spacing: 2px;
vertical-align: middle;
text-transform: uppercase;




}







.phonecta{

 display: flex;
flex-direction: column;

padding-left: 0;



list-style: none;
color: $menutexto;
color: #FFFFFF;


}

.phonecta__itemlista.group { display: flex; flex-direction: column; gap: 4px;
margin-bottom: 18px; }
.phonecta__itemlista.group .phonecta__link { line-height: 1;color:white;

font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 16px;


letter-spacing: 0px;
vertical-align: middle;
text-transform: uppercase;



}

.phonecta__itemlista.group2 {






  display: flex; flex-direction: column; gap: 4px;
margin-bottom: 30px; }
.phonecta__itemlista.group2 .phonecta__link { line-height: 1;color:white;

font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 16px;


letter-spacing: 0px;
vertical-align: middle;
text-transform: uppercase;



}













.phonecta__lista{




padding-left: 0;


}

.phonecta__itemlista{



list-style: none;







font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 16px;

letter-spacing: 0px;
vertical-align: middle;
text-transform: uppercase;

color: $menutexto;

}




.phonecta__lista li:nth-child(2)
 {

margin-bottom: 50px;

}

.phonecta__lista li:last-child {
margin-top: 20px;
}



.phonecta__link{
color:$menutexto;
}
















.cabecalho{

  display:flex;


align-items: center;


}

.textomenu {
  display: flex;
  flex-direction: column;
  gap: 4px; /* espaçamento entre THE e MET */
  align-items: flex-start; /* ou center */
}

.THE, .MET { margin: 0;
font-size:40px;

}

.vector{

  display:inline-block;

background-color:black;

width:40px;
height:40px;

background-image: url('../images/Vector.png');
  background-size: cover;
  background-position: center;

margin-top:25px ;
margin-left:10%;


}
