@use 'variables' as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.conteudo {
  position: relative;
  min-height: 100vh;
  width: 100%;

  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* preenche a tela sem distorcer (corta) */

  margin-bottom: $heromargin;
}

.texto {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  font-family: Cinzel;
  font-weight: 700;

  text-align: center;

  font-size: clamp(1.2rem, 4vw, 2.5rem);
  line-height: 1.1;
  letter-spacing: -1.5px;
}

.navbar {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  z-index: 10;
  align-items: center;



}

.nav__list {
  list-style: none;
  display: flex;
  gap: 50px;

  list-style: none;

  margin-left: auto; /* joga pra direita */
  margin-right: 110px;
  margin-top: 1px;
}

.texto1_logo {

  margin-left: 50px;
  margin-top: 50px;
  z-index: 10;

  color: white;
  font-family: Cinzel;
  font-weight: 400;
  font-style: Bold;
  font-size: 20px;

  line-height: 0.5;
  letter-spacing: -1.5px;
  text-align: center;
  vertical-align: middle;

}

.logo {
  position: relative;
}


.header__icons {
  display: flex;
  gap: 24px;



 padding-right: 50px;

}



.icon{

display:block;
width: $hambu;
height: $hambu;

}





.icon--fone {


  background-image: url('../images/call.png');
  background-size: cover;
  background-position: center;
}

.icon--menu {


background-color: black;
  background-image: url('../images/burger.png');
  background-size: cover;
  background-position: center;
}

.icon--vector {

margin-right: 20px;


  background-image: url('../images/Vector.png');
  background-size: cover;
  background-position: center;
}



@media (max-width: 800px) {
  .conteudo {
    min-height: 100vh;
    width: 100%;
  }

  .nav__list {
    gap: 30px;
    margin-right: 50px;
  }

  .texto {
    font-size: 20px;
  }

  .texto1 {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .conteudo {
    min-height: 100vh;
    width: 100%;
  }

  /* MENU some no mobile */
  .nav__list {
  }

  /* Hamburger aparece */
  .hamb {
    display: block;
  }

  .nav {
    padding: 0 20px;
  }

  .texto1 {
    margin-left: 10%;
    text-align: center;
    font-size: clamp(4px, 5vw, 10px);
    line-height: 1;
    font-size: 10px;
  }

  .texto {
    font-size: 10px;
  }
}
