$menutexto: #fff;
$fundo: #d12d35;
$heroheight: 840px;
$heromargin: 138px;
$heroheighttablet: 600px;
$heroheightmobile: 500px;
$oldmasterheight: 320px;
$oldmasterheighttablet: 186px;
$oldmasterheightmobile: 130px;
$golaheight: 320px;
$golaheighttablet: 186px;
$golaheightmobile: 130px;
$flexaoheight: 398px;
$flexaoheighttablet: 362px;
$flexaoheightmobile: 192px;
$relogioheight: 398px;
$relogioheighttablet: 186px;
$relogioheightmobile: 130px;
$dancaheight: 320px;
$dancaheighttablet: 186px;
$dancaheightmobile: 130px;
$hambu:30px;
